<launch>
 <group ns="camera1">
  <node name="usb_cam1_1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="left_camera_1" />
    <param name="camera_name" value="left_camera_1"/>
    <param name="io_method" value="mmap"/>
    </node>
    <node name="usb_cam1_2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="right_camera_1" />
    <param name="camera_name" value="right_camera_1"/>
    <param name="io_method" value="mmap"/>
  </node>
 </group>

<group ns="camera2">
  <node name="usb_cam2_1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video4" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="left_camera_2" />
    <param name="camera_name" value="left_camera_2"/>
    <param name="io_method" value="mmap"/>
    </node>
    <node name="usb_cam2_2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video6" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="right_camera_2" />
    <param name="camera_name" value="right_camera_2"/>
    <param name="io_method" value="mmap"/>
  </node>
 </group>
</launch>
